.box {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .login-wrapper {
  border: 0px none;
  height: 1024px;
  position: relative;
  width: 100wh;
}

.box .login {
  background-color: #0b2545;
  height: 1024px;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 1680px;
}

.box .overlap {
  height: 1315px;
  left: -4px;
  position: absolute;
  top: -245px;
  width: 604px;
}

.box .text-wrapper {
  color: #ffffff;
  font-family: "Roboto Serif-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 276px;
  width: 444px;
}

.box .rectangle {
  background: linear-gradient(180deg, rgb(91, 151, 119) 0%, rgba(40, 131, 120, 0) 100%);
  height: 1315px;
  left: 0;
  position: absolute;
  top: 0;
  width: 604px;
}

.box .overlap-group {
  height: 150px;
  left: 705px;
  position: absolute;
  top: 94px;
  width: 511px;
}

.box .ellipse {
  background-color: #0d0c4c;
  border-radius: 80px/75px;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 160px;
}

.box .welcome-again-lets {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 29px;
  width: 441px;
}

.box .div {
  background-color: #0d0c4c;
  border-radius: 133.5px/135px;
  height: 270px;
  left: 1250px;
  position: absolute;
  top: 818px;
  width: 267px;
}

.box .ellipse-2 {
  background-color: #0d0c4c;
  border-radius: 105px/98.5px;
  height: 197px;
  left: 1279px;
  position: absolute;
  top: -27px;
  width: 210px;
}

.box .ellipse-3 {
  background-color: #0d0c4c;
  border-radius: 80px/75px;
  height: 150px;
  left: 1140px;
  position: absolute;
  top: 374px;
  width: 160px;
}

.box .ellipse-4 {
  background-color: #0d0c4c;
  border-radius: 105px/98.5px;
  height: 197px;
  left: 680px;
  position: absolute;
  top: 650px;
  width: 210px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 36px;
  font-weight: 700;
  left: 775px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 288px;
  width: 190px;
}

.box .text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 775px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 373px;
  width: 130px;
}

.box .text-wrapper-4 {
  color: #ffffff;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 775px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 512px;
  width: 130px;
}

body {
  overflow: hidden;
}

.email-input {
  background-color: black;
  color: white;
  width: 450px;
  border-radius: 10px;
  height: 30px;
  margin-top: 24px;
  padding: 5px;
}





.password-text {
  color: #333;
}

.password-input {
  width: 450px;
  /* padding: 5px; */
  margin-top: 10px;
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 30px;
  margin-top: 24px;
  padding: 5px;

}


.login-button {

  width: 450px;
  margin-top: 50px;
  height: 40px;
  color: black;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  font-size: 27px;

}


.login .trading-app-logo {
  height: 340px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 423px;
  width: 340px;
}
