.data-table {
    margin-top: 20px;
    /* Adjust the margin as needed */
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    background-color: #fff;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

thead {
    background-color: #f0f0f0;
}

/* Add more styles as needed */