.Candel-chart {
  /* Style the container for the candlestick chart */
  margin-top: 20px;
  width: 80%;
  margin-right: 5%;
  /* color: white; */
  background-color: rgba(0, 0, 0, 0.2); /* Black with 50% transparency */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.Main_content{
  margin-left: 19%;
}

@media (max-width: 768px) { /* You can adjust the breakpoint (768px) to your needs */
  .Main_content {/* One column for smaller screens */
    margin-left:5%; /* Remove the left margin for smaller screens */
  }
}
  .frame {
    display: flex;
    flex-direction: column;
  }
  
  .table-container {
    /* Style the container for the table */
    margin-top: 20px; /* Adjust the top margin as needed */
    background-color: #fff;
    border-radius: 8px;
    
    margin-right: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .scrollable-table {
    /* margin-left: 20%; */
    /* margin-left: 20%; */
    /* Style the table to make it scrollable */
    max-height: 70%; /* Adjust the max height as needed */
    overflow-y: auto;
  }
  